In [65]:
# from numpy import mod
import pandas as pd
import pyomo.environ as pyo
from pyomo.environ import *
from pyomo.opt import SolverFactory

In [66]:
# Dados de entrada
dados_ger = pd.read_excel('inputs_dados.xlsx', sheet_name='geração')
dados_carga = pd.read_excel('inputs_dados.xlsx', sheet_name='carga')
dados_dep = pd.read_excel('inputs_dados.xlsx', sheet_name='dependência')
Ng = len(dados_ger)

In [67]:
# Modelo
model = pyo.ConcreteModel()
model.Pg = pyo.Var(range(Ng), bounds=(0,None))
Pg = model.Pg

In [68]:
# Restrições
model.balanco = pyo.Constraint(expr = sum(Pg[g] for g in dados_ger.id)==sum(dados_carga.valor) )
# model.cond = pyo.Constraint(expr = float(dados_carga.valor[0]) <= Pg[0]+Pg[3])
model.limites = pyo.ConstraintList()
for g in dados_ger.id:
    model.limites.add(expr = Pg[g]<=float(dados_ger.maximo[g]))
model.cond = pyo.ConstraintList()
for c in dados_dep.carga.unique():
    model.cond.add(expr=float(dados_carga.valor[c]) <= sum([Pg[g] for g in dados_dep.gerador[dados_dep.carga==c]]))

In [69]:
# Função objetivo
model.obj = pyo.Objective(expr = sum([Pg[g]*float(dados_ger.custo[g]) for g in dados_ger.id]))

In [70]:
# Solução
opt = SolverFactory('glpk')
opt.solve(model)

{'Problem': [{'Name': 'unknown', 'Lower bound': 25.05, 'Upper bound': 25.05, 'Number of objectives': 1, 'Number of constraints': 8, 'Number of variables': 6, 'Number of nonzeros': 13, 'Sense': 'minimize'}], 'Solver': [{'Status': 'ok', 'Termination condition': 'optimal', 'Statistics': {'Branch and bound': {'Number of bounded subproblems': 0, 'Number of created subproblems': 0}}, 'Error rc': 0, 'Time': 0.03898024559020996}], 'Solution': [OrderedDict([('number of solutions', 0), ('number of solutions displayed', 0)])]}

In [71]:
model.pprint()

3 Set Declarations
    Pg_index : Size=1, Index=None, Ordered=False
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :    5 : {0, 1, 2, 3, 4}
    cond_index : Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :    1 :    {1,}
    limites_index : Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :    5 : {1, 2, 3, 4, 5}

1 Var Declarations
    Pg : Size=5, Index=Pg_index
        Key : Lower : Value : Upper : Fixed : Stale : Domain
          0 :     0 :  20.0 :  None : False : False :  Reals
          1 :     0 :  10.0 :  None : False : False :  Reals
          2 :     0 :  35.0 :  None : False : False :  Reals
          3 :     0 :  30.0 :  None : False : False :  Reals
          4 :     0 :   5.0 :  None : False : False :  Reals

1 Objective Declarations
    obj : Size=1, Index=None, Active=True
        Key  : Active : Sense    : Expression
        None :   True : minimize : 0.1*Pg[0] + 0.05*Pg[1] + 0.3*Pg[2] + 0.4*Pg[3] + 0.01*Pg[4]

3 Constraint Declarations
    balanco : Size=1, Index=None, Active=True
        Key  : Lower : Body                                  : Upper : Active
        None : 100.0 : Pg[0] + Pg[1] + Pg[2] + Pg[3] + Pg[4] : 100.0 :   True
    cond : Size=1, Index=cond_index, Active=True
        Key : Lower : Body          : Upper : Active
          1 :  50.0 : Pg[0] + Pg[3] :  +Inf :   True
    limites : Size=5, Index=limites_index, Active=True
        Key : Lower : Body  : Upper : Active
          1 :  -Inf : Pg[0] :  20.0 :   True
          2 :  -Inf : Pg[1] :  10.0 :   True
          3 :  -Inf : Pg[2] :  40.0 :   True
          4 :  -Inf : Pg[3] :  50.0 :   True
          5 :  -Inf : Pg[4] :   5.0 :   True

8 Declarations: Pg_index Pg balanco limites_index limites cond_index cond obj

In [72]:
dados_ger['geração'] = [pyo.value(Pg[g]) for g in dados_ger.id]

In [52]:
dados_carga

   id  valor
0   0     50
1   1     20
2   2     30

In [51]:
dados_dep

   carga  gerador
0      0        0
1      0        3

In [53]:
dados_dep.carga

0    0
1    0
Name: carga, dtype: int64

In [55]:
dados_dep.gerador.unique()

array([0, 3], dtype=int64)

In [56]:
dados_dep

   carga  gerador
0      0        0
1      0        3

In [57]:
dados_dep.gerador

0    0
1    3
Name: gerador, dtype: int64

In [58]:
dados_dep.gerador[dados_dep.carga == 0]

0    0
1    3
Name: gerador, dtype: int64

In [74]:
x = [3,4,5,10]
x

[3, 4, 5, 10]

In [76]:
[x[i] for i in range(2,4)]

[5, 10]

In [77]:
sum([x[i] for i in range(2,4)])

15